
<nz-layout>

  <nz-sider>
    <div class="sidebar-logo">
      <a >
        <img class="image" src="assets/logo.png" alt="logo">
        <h1>CineNightmare</h1>
      </a>
    </div>

    <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Basic Drawer" (nzOnClose)="close()">
      <ng-container *nzDrawerContent>
        <ul nz-menu [nzMode]="'vertical'">
          <li nz-submenu (nzOpenChange)="change($event)" nzTitle="catégorie" nzIcon="appstore">
            <ul>
              <li nz-menu-item routerLink="/movies">Movie</li>
              <li nz-menu-item routerLink="/actors">Actors</li>
            </ul>
          </li>
        </ul>
      </ng-container>
    </nz-drawer>

  </nz-sider>

  <nz-layout>
    <nz-header>

    </nz-header>

    <nz-content>

      <div class="drawer-button">
      <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="menu" nzTheme="outline"></i>Open</button>
      </div>
   <div>
      <nz-card style="width:500px;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
    </div>
      <div>
      <nz-card style="width:500px;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
      </div>
      <div>
      <nz-card style="width:500px;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
      </div>

    </nz-content>

    <nz-footer>

    </nz-footer>
  </nz-layout>


</nz-layout>

<router-outlet></router-outlet>
