:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #232932;
  height: 50px;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #1b657a;
  line-height: 140px;

}

nz-content {
  background: #232932;
  min-height: 880px;
  line-height: 880px;
}


nz-layout:last-child {
  margin: 0;
}

.drawer-button{
  position: initial;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  width: 190%


}

.sidebar-logo{
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}
